.bestArtistsRow {
  margin-top: 10px;
}
.row__artists {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.row__artist {
  position: relative;
  border: 5px solid transparent;
  border-radius: 20px;
  height: 200px;
  width: 160px;
  overflow: hidden;
}
.row__artist:hover {
  border: 5px solid red;
}

.row__artist:hover img {
  transform: scale(1.09);
}

.row__artist:hover .row__artist__contentDiv {
  background-color: rgb(0, 0, 0, 50%);
}
.row__artist img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  transition: 300ms ease-in;
}

.row__artist__contentDiv {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.row__artist__content {
  display: grid;
  place-items: center center;
  height: 100%;
  align-content: center;
  margin-top: 40%;
  overflow: hidden;
}

.row__artist__content p {
  color: gray;
  font-size: 15px;
  font-weight: 500;
}
.row__artist__content__stars .MuiSvgIcon-root {
  color: yellow;
}
