.bestArtistsRow {
  margin: 25px;
}
.row__artists {
  margin-top: 25px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  place-items: center;
}

.row__artist {
  position: relative;
  border: 5px solid transparent;
  height: 240px;
  width: 196px;
  transition: 400ms ease-in;
}

.row__artist:hover {
  transform: scale(1.2);
}

.row__artist:hover .row__artist__contentDiv {
  /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), black); */
}
.row__artist img {
  height: 100%;
  width: 100%;
  border-radius: 6px;
  transition: 300ms ease-in;
}

.row__artist__contentDiv {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), black);
  border-radius: 6px;
}

.row__artist__content {
  display: grid;
  place-items: center center;
  height: 100%;
  align-content: center;
  margin-top: 40%;
  overflow: hidden;
}

.row__artist__content p {
  color: gray;
  font-size: 15px;
  font-weight: 500;
}
.row__artist__content__stars .MuiSvgIcon-root {
  color: yellow;
  font-size: 15px;
}

@media only screen and (max-width: 1400px) {
  .row__artist {
    height: 200px;
    width: 180px;
  }
}
@media only screen and (max-width: 900px) {
  .row__artists {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    place-items: center;
  }
  .row__artist {
    height: 180px;
    width: 150px;
  }
  .bestArtistsRow {
    margin: 10px;
  }
}
@media only screen and (max-width: 350px) {
  .bestArtistsRow {
    margin: 0;
  }
}
