.rightContainerColumn {
  margin-top: 5px;
}
.rightContainerColumn h3 {
  padding: 5px 0;
  letter-spacing: 1px;
  font-weight: 600;
}
.rightContainerColumn__movies {
  display: flex;
  flex-direction: column;
}

.rightContainerColumn__movie {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.rightContainerColumn__movie img {
  object-fit: contain;
  height: 50px;
}

.rightContainerColumn__movieDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
  padding-left: 10px;
}
.rightContainerColumn__movieSubDescription h4 {
  font-weight: 400;
  font-size: 12px;
}
.rightContainerColumn__movieSubDescription p {
  font-size: small;
  color: gray;
}
.rightContainerColumn__movieRatings {
  display: flex;
  align-items: center;
}
.rightContainerColumn__movieRatings .MuiSvgIcon-root {
  margin-right: 5px;
  color: yellow;
  font-size: 15px;
}

.rightContainerColumn__movieRatings span {
  font-size: 13px;
}

button {
  width: 80%;
  padding: 6px;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  background-color: rgb(224, 24, 24);
  color: white;
  transition: 500ms ease-in-out;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  border: 1px solid red;
}
button:hover {
  background-color: inherit;
  border: 1px solid red;
  color: white;
}
